{% extends 'base.html' %}
{% load bootstrap5 %}
{% load fontawesome_5 %}


{% block content %}
    <h1 class="pt-4">Sparbeiträge</h1>
    <div class="d-flex">
        <h2 class="flex-grow-1">{{ bausparvertrag.bausparkasse }} {{ bausparvertrag.tarifname }} ({{ bausparvertrag.bausparsumme }})</h2>
        <a class="btn btn-primary align-self-center" href="{% url 'sparbeitrag_create' bausparvertrag.id %}" role="button">{% fa5_icon 'plus' 'fas' %} Neuer Sparbeitrag</a>
    </div>

    {% if object_list %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Erste Buchung</th>
                    <th>Letze Buchung</th>
                    <th>Betrag</th>
                </tr>
            </thead>
            <tbody>
                {% for sparbeitrag in object_list %}
                <tr>
                    <td>{{ sparbeitrag.erste_buchung | date:"d.m.Y" }}</td>

                    <td>
                        {% if sparbeitrag.letzte_buchung %}
                        {{ sparbeitrag.letzte_buchung | date:"d.m.Y" }}
                        {% else %}
                        Keine
                        {% endif %}
                    </td>
                    <td>{{ sparbeitrag.betrag }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Du hast bisher keine Sparbeiträge angelegt!</p>
    {% endif %}
{% endblock %}
