{% load bootstrap5 %}
{% load fontawesome_5 %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% bootstrap_css %}
    {% fontawesome_5_static %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>{% block title %}Bauspar Tracker{% endblock %}</title>
    {% block head %}
    {% endblock %}
    {% bootstrap_javascript %}
</head>
<body>
{% include 'navbar.html' %}
<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
